.container {
    width: 100%;
    margin: auto;
    text-align: center;
    overflow: hidden;
    background-color: var(--bg);
}

.logo {
    float: left;
    color: var(--textPrimary);
    margin-left: 10px;
}

.elements {
    list-style: none;
    float: right;
    display: flex;
    flex-direction: row;
}

.elements li {
    margin: 10px;
    font-size: 20px;
}

.elements li a {
    color: var(--textSecondary);
    transition-duration: 0.4s;
    font-weight: bold;
}

.logoIcon {
    display: none;
}

@media screen and (max-width: 994px) {
    .elements li a{
        display: flex;
    }
    
    .container {
        overflow: hidden;
    }

    .logo {
        display: none;
    }

    .logoIcon {
        display: flex;
        float: left;
        width: 80px;
        margin-top: 18px;
    }

}

.elements li a:hover {
    color: var(--frost4);
}